doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Risultato Positivo
    link(rel='stylesheet' href='../public/css/responsopositivo.css')

  body
    h1 Azione completata con successo!
    p L'azione è stata completata con successo.
    br
    a(href="/Index") Azioni disponibili
