doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Risultato Negativo
    link(rel='stylesheet' href='../public/css/responsonegativo.css')

  body
    h1 Si è verificato un errore durante l'azione.
    a(href="/Index") Azioni disponibili

