doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Eliminazione Progetto
  body
    h1 Eliminazione Progetto
    form(action="/EliminazioneProgetto", method="post")
      label(for="ID") Inserisci l'ID del progetto da eliminare:
      input(type="text", id="ID", name="ID")
      button(type="submit") Elimina
