doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dashboard Progetti
    link(rel='stylesheet' href='../public/css/index.css')

  body
    header
      h1 Dashboard Progetti
    main
      .container
        h2 Azioni Progetti
        ul
          li
            a(href="/VistaProgetti") Visualizza tutti i Progetti
          li
            a(href="/ModificazioneProgetto") Modifica Progetto
          li
            a(href="/EliminazioneProgetto") Elimina Progetto
          li
            a(href="/AggiuntaProgetto") Aggiungi Progetto
