body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #3bb143; /* colore verde per successo */
  }
  
  p {
    text-align: center;
    color: #666;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff; /* Blu */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
